@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
         url("/fonts/HelveticaNeueCyr-Medium.woff") format("woff");
 }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.modal-cover{ 
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  width: 515px;
  background: #e74c3c;
  color: #fff;
  border-radius: 5px;
  font-family: "Helvetica Neue";
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .header {
    background: #d44637;
    padding: 20px 30px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
  }
  .close-btn {
    cursor: pointer;
  }
  .body {
    padding: 30px 30px 30px;
    font-size: 15px;
    .text {
      display: block;
      margin-bottom: 30px;
      line-height: 30px;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
  }
  button {
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin: 0 5px;
    outline: none;
    &:hover {
      transform: scale(1.05, 1.05) ;
    }
    &:active {
      transform: scale(0.95, 0.95);
    }
  }
}